.boardColumnContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    background-color: var(--fourtharyColour);
    border-radius: .4rem;
    padding: .8rem .5rem;
}

.boardColumnSection {
    min-width: 272px;
}

.boardColumnHeader {
    font-weight: 600;
    display: flex;
    justify-content: space-between;
}

.boardColumnFooter {
    display: flex;
    justify-content: space-between;
}

.boardColumnList {
    max-height: 30vh;
    overflow-y: auto;
}

.boardColumnWrapper::-webkit-scrollbar {
    -webkit-appearance: none;
    background-color: #DDDDE4;
    border-radius: 5px;
}

.boardColumnWrapper::-webkit-scrollbar:horizontal  {
    height: .6rem;
}

.boardColumnWrapper::-webkit-scrollbar-thumb {
    background-color: #c5c5c6 ;
    border-radius: 5px;
}

.boardColumnWrapper {
    background-color: var(--thirdaryColour) ;
    padding: 1rem;
    display: flex;
    gap: 1rem;
    overflow-x: scroll;
}

.addListInputWrapper {
    width: 272px;
}

.addListContainer {
    background-color: #a5b3b896;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: .5rem;
    border-radius: .3rem;
}
.addListContainer:hover {
    background-color: #a5b3b8;
}
.addListInput {
    background-color: #D4DEDF;
    padding: .2rem;
    border-radius: .3rem .3rem 0 0;    
}

.addListInput input {
    width: 100%;
    padding: .7rem .2rem;
    box-shadow: inset 0 0 0 2px #0079bf;
}
.buttons {
    background-color: #D4DEDF;
    padding: 0 .2rem .2rem;
    border-radius: 0 0 .3rem .3rem;
    display: flex;
    gap: .3rem;
    align-items: center;
}

.icon{
    color: #f84444;
    font-size: 1.3rem;
    cursor: pointer;
}

.icon:hover {
    color: #b62b2b;
}

